<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="WorkingDirectory" value="C:\GitHub\TypedDataLayer\TdlTestFp"/>
		<add key="TypedDataLayer.SupportedDatabaseType" value="SqlServer"/>
		<add key="TypedDataLayer.ConnectionString" value="data source=(local);Initial Catalog=TdlTest;Integrated Security=SSPI;"/>
	</appSettings>
</configuration>